[project]
	description = Repository for storing example android project based on: http://www.vogella.com/tutorials/Android/article.html
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/krzysztofus
[access "refs/for/refs/*"]
	read = group user/krzysztofus
	push = group user/krzysztofus
	label-Code-Review = -2..+2 group user/krzysztofus
	label-Verified = -1..+1 group user/krzysztofus
	rebase = group user/krzysztofus
	removeReviewer = group user/krzysztofus
	submit = group user/krzysztofus
[access "refs/heads/*"]
	read = group user/krzysztofus
	create = group user/krzysztofus
	push = +force group user/krzysztofus
	pushMerge = group user/krzysztofus
[access "refs/tags/*"]
	push = +force group user/krzysztofus
	pushTag = group user/krzysztofus
	pushSignedTag = group user/krzysztofus
